$color-primary:#9356DC;
$color-secondary:#ff79DA;
$color-tertiary:#99E2D0;
$background-grey:#EAEAEA;
$background-clar-grey:#D2D2D2;
$background-sweet-grey:#F6F6F6;

@font-face {
    font-family: 'Roboto';
    src: url('../../font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto-Light';
    src: url('../../font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 400;
  }

 @font-face {
    font-family: 'Shrikhand';
    src: url('../../font/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: 400;
  }